body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  background: #f9fbfd;
  color: #5e6e82;
  font-family: Cerebri Sans,sans-serif;
}

a {
  color: #2c7be5;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 1.5rem 0 0;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}
[role="main"] {
  padding-top: 133px;
}
@media (min-width: 768px) {
  [role="main"] {
    padding-top: 60px;
  }
}

.card {
    display: block;
    margin-bottom: 1.5rem;
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: .5rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #34405A;
}
